@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab:wght@300&display=swap');
@charset"UTF8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(180, 20, 20);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 760px;
    min-width: 300px;
    margin: auto;
}

header{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

header h1{
    font-size: 46px;
    padding-bottom: 12px;
    font-weight: bold;
}

header a{
    text-decoration: none;
    color: white;
}

nav{
  padding-top: 12px;
  padding-bottom: 20px;
  text-align: center;
}

nav ul li {
    display: inline; /*colocar na horizontal*/
    text-align: center;
    font-size: 15px;
}

nav a{
    text-decoration: none;
    color: orange;
}

nav a:hover{
    background-color: rgb(255, 0, 0);
}

main{
    padding-top: 20px;
    padding-left: 10px;
    line-height: 1.15em;
}

main a{
    text-decoration: none;
    color: orange;
}

main a:hover{
    background-color: rgb(255, 0, 0);
}

main p{
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 12px;
}

main h2{
    padding-top: 15px;
    padding-bottom: 30px;
}

main h3{
    padding-bottom: 20px;
}

main img{
    padding-top: 12px;
    padding-bottom: 12px;
}

.minibio p{
    line-height: 1.15em;
    padding-top: 2px;
    padding-bottom: 12px;
}

footer{
    /*background-color: rgb(227, 148, 0);
    border-radius: 10px;*/
    padding-top: 20px;
}

footer p {
    padding: 20px; 
    font-size: 10px;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container main{
    flex: 1 1 0;
}